body
{
    background-color: white;
    border: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    opacity: 1;
    overflow: hidden;
    white-space: nowrap;
    min-width: 380px;
    height: fit-content;
    font: 14px Nunito;
    font-family: "Nunito", helvetica, sans-serif;
}

#main-section
{
    display: inline-block;
}

.button
{
    cursor: pointer;
}

.button:hover
{
    opacity: 0.9;
}

#power-button
{
    /*box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);*/
    /*-webkit-font-smoothing: antialiased;*/
    margin: 10px;
}

#power-button:hover
{
    opacity: 0.9;
}

#selectedWord
{
    margin-top: 7px;
    margin-bottom: 7px;
    align-content: left;
    width: calc(100% - 160px);
}

::selection
{
    background: #87d3ff;
}

.input
{
    vertical-align: top;
    outline: none;
    text-align: left;
    display: inline;
    padding: 5px 10px;
    border: none;
    border-radius: 0;
    color: #737373;
    background-color: #ebeff0;
    /*font-size: 14px;*/
    transition: .3s ease;
    font: 14px Nunito;
    /*box-shadow: inset 0 0px 5px white;*/
    box-shadow: inset 0px .5px 5px white, -3px .5px 5px white;
}

#num-results
{
    vertical-align: top;
    text-align: right;
    height: 17px;
    min-width: 20px;
    display: inline-block;
    padding: 7px 5px 5px;
    margin-left: -8px;
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: #ebeff0;
    color: #737373;
    font: 12px Nunito;
    box-shadow: inset -1px 0px 1.5px white;

}

/*.gradient */
/*{*/
    /*box-shadow: inset 0 0 5px white;*/
/*}*/

#arrows
{
    display: inline;
}

.button
{
    vertical-align: center;
    margin: 14px 1% 7px;
}

#settings
{
    display: none;
    height: 158px;
}

input:focus
{
    color: #242424;
}

input::selection
{
    color: white;
}

#color-selection
{
    padding-top: 7px;
    padding-bottom: 10px;
    display:flex;
    justify-content: space-evenly;
}

#other-options
{
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

/* The switch - the box around the slider */
.switch
{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before
{
    position: absolute;
    content: "";
    height: 12px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider
{
    background-color: #87d3ff;
}

input:focus + .slider
{
    box-shadow: 0 0 1px #87d3ff;
}

input:checked + .slider:before
{
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

#checkSearch
{
    padding-top: 10px;
    padding-bottom: 15px;
}

#checkSearch label
{
    top: 3px;
}

#checkCase
{
    margin-left: -50px;
}

#checkCase label
{
    top: 3px;
}

.checkLabel
{
    display: inline-block;
}



